Source: surface-ath10k-firmware-override
Section: misc
Priority: optional
Maintainer: Maximilian Luz <luzmaximilian@gmail.com>
Build-Depends:
 build-essential,
 debhelper-compat (= 9),
 dh-exec

Package: surface-ath10k-firmware-override
Architecture: all
Description: Firmware override for Surface devices with QCA6174 ATH10K WiFi chip
