#!/usr/bin/make -f
export DH_VERBOSE = 1

pkgdir = debian/surface-ath10k-firmware-override

override_dh_install:
	install -D -m644 "board.bin" "${pkgdir}/lib/firmware/ath10k/QCA6174/hw2.1/board-override.bin"
	install -D -m644 "board.bin" "${pkgdir}/lib/firmware/ath10k/QCA6174/hw3.0/board-override.bin"
	install -D -m644 "ath10k.conf" "${pkgdir}/etc/modprobe.d/ath10k.conf"

%:
	dh $@
